/* VARIABLES */
body {
  margin: 0;
}

header {
  background-image: linear-gradient(to bottom, red 90%, white);
  padding: 2rem 2rem;
}

body {
  font-family: "Oswald", sans-serif;
  margin: 0;
}

footer {
  background-image: linear-gradient(to top, black 95%, white);
  padding: 20px 40px 20px 40px;
  color: white;
}

li {
  border-top: red 1px solid;
  padding: 0.85em 0;
}

a {
  text-decoration: none;
  color: black;
}

.header-head {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-container {
  flex-direction: row;
}

#main-title {
  color: white;
  font-size: 100px;
  margin: 0px 0px 0px 50px;
  cursor: pointer;
  text-decoration: none;
}

#selecciones {
  margin: 0px 60px 0px 0px;
  font-size: 20px;
  display: flex;
  list-style-type: none;
}

.sub-selec {
  color: white;
  margin: 0px 40px 0px 0px;
  transition: color 0.3s ease;
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s;
}
.sub-selec:hover {
  color: black;
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

#welcome {
  display: flex;
  justify-content: center;
  text-align: center;
}

.welcome-body {
  margin-top: 130px;
  margin-bottom: 130px;
}

.title {
  font-size: 100px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 80px;
}

.reservas {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 30px;
  border: 1px black solid;
  transition: color 0.3s ease;
  color: black;
  text-decoration: none;
}
.reservas:hover {
  border: 1px red solid;
  color: red;
  cursor: pointer;
}

.text {
  text-align: center;
}

.logos {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 0px 0px 20px 0px;
}

.icon {
  transition: color 0.3s ease;
  color: white;
  text-decoration: none;
  float: right;
  margin: 15px;
  width: 30px;
  height: 30px;
  transition: 0.2s;
}
.icon:hover {
  color: red;
  cursor: pointer;
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
}

.terms-main {
  margin: 10px;
}

.extern {
  transition: color 0.3s ease;
  color: white;
  text-decoration: none;
}
.extern:hover {
  color: red;
  cursor: pointer;
}

.container {
  display: grid;
  justify-content: justify;
  max-width: 1200px;
  margin: 50px auto 0px;
  padding: 0px 32px 88px;
}

.title-menu {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 70px;
  margin-bottom: 40px;
}

.entry-title {
  font-size: 40px;
}

.boxes {
  display: grid;
  flex-direction: column;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-column-gap: 25px;
  -moz-column-gap: 25px;
  column-gap: 25px;
  grid-row-gap: 25px;
  row-gap: 25px;
  padding-top: 25px;
  padding-bottom: 50px;
  margin-top: 0;
  justify-items: center;
}
.boxes:hover > :not(:hover) {
  filter: brightness(0.8) saturate(2) contrast(1) blur(2px);
  transition: filter 200ms linear, transform 200ms linear;
}

.card {
  border-radius: 24px;
  width: 18rem;
}
.card:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

.card-img-top {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 270px;
}

.card-body {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.card-title {
  font-size: 25px;
  font-weight: 100;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 20px;
}

.btn-primary {
  box-sizing: border-box;
  cursor: pointer;
  padding: 6px 19px 6px;
  border-radius: 15px;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  background: #dd042b;
  border: none;
  text-align: center;
  transition: all 0.2s;
  color: white;
  width: 100%;
  --bs-btn-hover-bg: black;
  --bs-btn-active-bg: black;
}

.contact {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

#contact-us {
  font-size: 70px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#ribeye {
  width: 250px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.tabla-reserva {
  font-size: 20px;
  font-weight: 100;
  list-style: none;
  margin-bottom: 20px;
  padding: 0px;
}

.toma-de-reservas {
  margin-bottom: 50px;
  font-size: 18px;
}

.horario-reserva {
  font-weight: 100;
}

#local-title {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 70px;
  margin: 50px 0px 40px 0px;
}

#text-under-title {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 30px;
  font-weight: 100;
  margin: 10px 10px 60px 10px;
}

.box {
  width: 330px;
  height: 250px;
  background: #fff;
  border-radius: 15px;
  padding: 15px;
  border: 1px solid #ccc;
}
.box:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

.direccion, .numero {
  font-weight: 100;
  font-size: 18px;
}

.fono {
  display: flex;
  width: auto;
}

.img-telefono {
  display: flex;
}

#title-terms {
  display: flex;
  justify-content: center;
  text-align: center;
  color: black;
  font-size: 50px;
  cursor: pointer;
  text-decoration: none;
}

.policy {
  max-width: 800px;
  margin: 50px auto 0px;
  padding: 0px 32px 88px;
}

.terms-title {
  display: flex;
  justify-content: center;
  text-align: center;
  color: black;
  font-size: 30px;
  text-decoration: underline;
}

.terms-subtitles {
  display: flex;
  justify-content: left;
  margin-bottom: 8px;
}

.para {
  justify-content: center;
  text-align: justify;
  font-weight: 100;
  margin-bottom: 15px;
}

.para-2 {
  display: flex;
  text-align: left;
  font-weight: 100;
  margin-bottom: 50px;
}

.para-3 {
  display: flex;
  text-align: left;
  font-weight: 100;
  margin-bottom: 15px;
}

.policy-link {
  display: flex;
  justify-content: left;
  text-align: justify;
  margin-bottom: 15px;
  text-decoration: underline;
}

.terms-sub-subtitles {
  display: flex;
  justify-content: left;
  margin-bottom: 5px;
}

.conditions {
  margin-bottom: 0px;
}

.table-container {
  display: flex;
  justify-content: center;
}

#reserve-title {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 70px;
  margin: 30px 0 20px 0;
}

.table-reserve {
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  font-size: 25px;
  text-align: center;
}

.form-control {
  border-radius: 2rem;
}

#button-reserve {
  display: flex;
  justify-content: center;
}

#btn-reserva {
  display: flex;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  padding: 10px 50px;
  border-radius: 15px;
  font-size: 20px;
  background: #dd042b;
  color: #fff;
  width: 100%;
  margin: 20px 0 50px 0;
}

#about-us {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 100px;
  margin-top: 80px;
}

.sobre-nosotros {
  font-size: 70px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.paragraph-about-us {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-weight: 100;
  font-size: 24px;
  width: 1000px;
  margin-top: 50px;
}

@media screen and (min-width: 577px) and (max-width: 767px) {
  .nav-container {
    flex-direction: column;
  }
  #main-title {
    font-size: 50px;
    text-align: center;
    justify-content: center;
    margin-left: 0;
  }
  #selecciones {
    font-size: 15px;
    margin-left: 60px;
    margin-right: 0;
    text-align: center;
  }
  .title {
    font-size: 50px;
  }
  footer {
    font-size: 0.75rem;
  }
  .sub-selec {
    justify-content: center;
    text-align: center;
    margin-right: 0;
    margin-bottom: 15px;
  }
  .welcome-body {
    margin-top: 120px;
    margin-bottom: 120px;
  }
  .sobre-nosotros {
    font-size: 50px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .paragraph-about-us {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-weight: 100;
    font-size: 20px;
    width: 500px;
    margin-top: 30px;
  }
  #about-us {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    margin-top: 30px;
  }
  #text-under-title {
    font-size: 25px;
    margin: 10px 10px 20px 10px;
  }
}
@media screen and (max-width: 1024px) {
  .boxes {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  #selecciones {
    margin: 0;
    display: list-item;
  }
  .collapse-horizontal {
    display: flex;
    justify-content: center;
  }
  .sub-selec {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-right: 0;
    margin-bottom: 15px;
  }
  .paragraph-about-us {
    width: 700px;
  }
  .title {
    font-size: 67px;
    justify-content: center;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .boxes {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  #selecciones {
    margin: 0;
    display: list-item;
  }
  .collapse-horizontal {
    display: flex;
    justify-content: center;
  }
  .sub-selec {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-right: 0;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 700px) {
  #selecciones {
    margin: 0;
    display: list-item;
  }
  .collapse-horizontal {
    display: flex;
    justify-content: center;
  }
  .sub-selec {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-right: 0;
    margin-bottom: 15px;
  }
  .boxes {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .paragraph-about-us {
    width: 500px;
  }
}
@media screen and (max-width: 576px) {
  #main-title {
    font-size: 26px;
    margin-left: 30px;
    justify-content: center;
    text-align: center;
  }
  #selecciones {
    margin: 0;
    display: list-item;
  }
  .title {
    font-size: 30px;
    justify-content: center;
    margin-bottom: 40px;
  }
  .collapse-horizontal {
    display: flex;
    justify-content: center;
  }
  head {
    width: 100%;
  }
  .sub-selec {
    display: flex;
    font-size: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-right: 0;
    margin-bottom: 15px;
  }
  .box {
    width: 250px;
    height: 230px;
  }
  #about-us {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    margin-top: 30px;
  }
  .sobre-nosotros {
    font-size: 35px;
  }
  .paragraph-about-us {
    width: 300px;
    margin-right: 0;
    font-size: 15px;
    margin-top: 0;
  }
  .reservas {
    font-size: 20px;
  }
  .tabla-reserva {
    font-size: 15px;
  }
  #ribeye {
    width: 200px;
  }
  .toma-de-reserva {
    font-size: 15px;
  }
  #local-title {
    font-size: 35px;
  }
  #text-under-title {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .container-fluid {
    --bs-gutter-x: 0px;
  }
  .header-head {
    margin-right: 20px;
  }
  #reserve-title {
    font-size: 50px;
  }
  .form-label {
    font-size: 17px;
    width: 60%;
  }
  .form-control {
    font-size: 11px;
    width: 100px;
  }
}

/*# sourceMappingURL=style.css.map */
