@media screen and (min-width: 577px) and (max-width:767px) {
    .nav-container {
        flex-direction: column;
    }
    
    #main-title {
        font-size: 50px;
        text-align: center;
        justify-content: center;
        margin-left: 0;
    }
    
    #selecciones {
        font-size: 15px;
        margin-left: 60px;
        margin-right: 0;
        text-align: center;
    }
    
    .title {
        font-size: 50px;
    }
    
    footer {
        font-size: 0.75rem;
    }
    
    .sub-selec{
        justify-content: center;
        text-align: center;
        margin-right: 0;
        margin-bottom: 15px;
    }
    
    .welcome-body {
        margin-top: 120px;
        margin-bottom: 120px;
    }
    
    .sobre-nosotros {
        font-size: 50px;
        text-align: center;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    
    .paragraph-about-us {
        @include flex-center;
        align-items: center;
        font-weight: 100;
        font-size: 20px;
        width: 500px;
        margin-top: 30px;
    }
    
    #about-us{
        display: flex;
        justify-content: center;
        margin-bottom: 80px;
        margin-top: 30px;
    }
    
    #text-under-title {
        font-size: 25px;
        margin: 10px 10px 20px 10px;
    }
    
    
    
}
    
    @media screen and (max-width: 1024px) {
        .boxes {
            grid-template-columns: repeat(2,minmax(0,1fr));;
        }
    
        #selecciones {
            margin: 0;
        }
    .collapse-horizontal {
            display: flex;
            justify-content: center;
        }
    .sub-selec{
        @include flex-center;
        margin-right: 0;
        margin-bottom: 15px;
    }
    
        .paragraph-about-us {
            width: 700px;
        }
    
        .title {
            font-size: 67px;
            justify-content: center;
            margin-bottom: 40px;
        }
    
    }
    
    @media screen and (min-width: 1025px) and (max-width: 1440px) {
        .boxes {
            grid-template-columns: repeat(3,minmax(0,1fr));;
        }
    
        #selecciones {
            margin: 0;
        }
    .collapse-horizontal {
            display: flex;
            justify-content: center;
        }
    .sub-selec{
        @include flex-center;
        margin-right: 0;
        margin-bottom: 15px;
    }
    
    }
    
    @media screen and (max-width: 700px) {
    
        #selecciones {
            margin: 0;
        }
    .collapse-horizontal {
            display: flex;
            justify-content: center;
        }
    .sub-selec{
        @include flex-center;
        margin-right: 0;
        margin-bottom: 15px;
        }
    
        .boxes {
            grid-template-columns: repeat(1,minmax(0,1fr));;
        }
    
        .paragraph-about-us {
            width: 500px;
        }
    
    }
    
    @media screen and (max-width: 576px) {
        #main-title {
            font-size: 26px;
            margin-left: 30px;
            justify-content: center;
            text-align: center;
        }
    
        #selecciones {
            margin: 0;
        }
    
        .title {
            font-size: 30px;
            justify-content: center;
            margin-bottom: 40px;
        }
    
        .collapse-horizontal {
            display: flex;
            justify-content: center;
        }
    
        head {
            width: 100%;
        }
    
        .sub-selec{
            font-size: 15px;
            @include flex-center;
            margin-right: 0;
            margin-bottom: 15px;
        }
    
        .box {
            width: 250px;
            height: 230px;
        }
    
        #about-us{
            display: flex;
            justify-content: center;
            margin-bottom: 80px;
            margin-top: 30px;
        }
    
        .sobre-nosotros {
            font-size: 30px;
        }
    
        .paragraph-about-us {
            width: 300px;
            margin-right: 0;
            font-size: 15px;
            margin-top: 0;
        }
    
        .reservas {
            font-size: 20px;
        }
    
        
    
        .tabla-reserva {
            font-size: 15px;
        }
    
        #ribeye {
            width: 200px;
        }
    
        .toma-de-reserva {
            font-size: 15px;
        }
    
        #local-title {
            font-size: 35px;
        }
    
        #text-under-title {
            font-size: 20px;
            margin-bottom: 20px;
        }
        
        .container-fluid {
            --bs-gutter-x: 0;
        }
    }