.table-container {
    display: flex;
    justify-content: center;
}

#reserve-title {
    @include flex-center;
    font-size: $big;
    margin: 30px 0 20px 0;
}

.table-reserve {
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: repeat(2,minmax(0,1fr));;
    font-size: 25px;
    text-align: center;
}

.form-control {
    border-radius: 2rem;
}

#button-reserve {
    display: flex;
    justify-content: center;
}

#btn-reserva {
    @include flex-center;
    cursor: pointer;
    padding: 10px 50px;
    border-radius: 15px;
    font-size: 20px;
    background: $light-dark-red;
    color: #fff;
    width:100%;
    margin: 20px 0 50px 0;
}